<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>RECUPERAÇÃO DE SENHA</title>
  </head>
  <body>
    <h1>Olá , {{username}}!</h1>
    <p>Clique no link para redefinir sua senha: http://192.168.181.6:8081 </p>
  </body>
</html>


{{!-- /reset-password/{{token}} --}}