<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>RECUPERAÇÃO DE SENHA</title>
  </head>
  <body>
    <h1>Olá , {{username}}!</h1>
    <p>Clique no link para redefinir sua senha: http://seu-app.com/reset-password/{{token}} </p>
  </body>
</html>
